[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
joblib = "==1.4.2"
pyspark = "==3.5.4"
threadpoolctl = "~=3.5.0"
scikit-learn = "==1.6.1"
scipy = "==1.15.2"
setuptools = "==75.8.0"
wheel = "==0.45.1"
pytest = "==8.3.4"
pandas = "==2.2.3"
numpy = "==2.2.3"
fastparquet = "==2024.11.0"
pyarrow = "==19.0.1"

[requires]
python_version = "3.11"
